<div class="calenderHeader">
    <i class="fa fa-2x fa-angle-left pull-left" ng-click="prevMonth()"></i>
    <span class="month">{{month}}</span>
    <i class="fa fa-2x fa-angle-right pull-right" ng-click="nextMonth()"></i>
</div>
<div class="row weekDays">
    <span class="day">Sun</span>
    <span class="day">Mon</span>
    <span class="day">Tue</span>
    <span class="day">Wed</span>
    <span class="day">Thu</span>
    <span class="day">Fri</span>
    <span class="day">Sat</span>
</div>
<div class="row weekDays">
    <span class="day-number" ng-class="{ today: day.today, 'different-month': !day.thisMonth, selected: day.selected }"
      ng-click="(day.selected)?removeSelection(day):selectDays(day);" ng-repeat="day in thisMonthDays">{{day.number}}</span>
</div>
<div class="selectedDaysWrapper" ng-if="selectedDays.length>0">
    <h3>Selected Days</h3>
    <div ng-repeat="day in selectedDays">
        <h5>{{day.todayName}}</h5>
        <span>{{day.number}} - {{day.month}} - {{day.year}}</span>
    </div>
</div>
